<div class="ui grid segment" style="height: 115px; margin-top: -15px;border-radius: 0px;">
    <!-- Search Bar -->
    <div class="top-row centered row">
        <div class="fifthteen wide column">
            <div class="ui icon input search-margin" style="display:block; margin: 0 auto;">
                <input type="text" ng-model="searchValue" placeholder="Search..." style="width: 100%">
                <i class="inverted circular search link icon"></i>
            </div>
        </div>
    </div>
    <!-- Search Type button group -->
        <div class="centered row">
            <div class="fifthteen wide column">
                <div class="ui buttons" style="display:block; margin: 0 auto;">
                    <button class="ui button ng-class:{active: searchType === 'popular'}" ng-click="toggleSearchType()" style="width: 50%;">
                        Popular
                    </button>
                    <button class="ui button ng-class:{active: searchType === 'nearby'}" ng-click="toggleSearchType()" style="width: 50%;">
                        Nearby
                    </button>
                </div>
            </div>
        </div>
</div>
<div class="centered row" style="height: calc(100% - 120px); overflow-y: scroll; overflow-x: hidden; overflow: -moz-scrollbars-vertical">
    <!-- Search Result -->
    <div class="ui link cards">
        <md-content class="search-found-places">
            <md-content class="ui card" ng-repeat="location in locations" id="locationID_{{location.id}} ">
                <md-content class="image" ng-click="togglePostView(location)">
                    <img ng-src="{{location.images[0]}}">
                </md-content>
                <md-content class="content" ng-click="togglePostView(location)">
                    <a class="header">{{location.name}}</a>
                    <md-content class="meta">
                        <span class="date">{{location.category}}</span>
                    </md-content>
                    <md-content class="description">
                        {{location.description}}
                    </md-content>
                </md-content>
                <md-content class="extra content">
                    <a ng-click="addLike(location, FBId)">
                        <i class="thumbs up icon green" ng-class="{'outline': location.likes.indexOf(FBId) === -1}"
                            aria-hidden="true" style="min-height:24px"></i>
                        {{location.likes.length}} people approve
                    </a>
                </md-content>
            </md-content>
        </md-content>
    <div/>
</div>
