<div class="ui grid segment" style="height: 115px; margin-top: -15px;border-radius: 0px;">
    <!-- Search Bar -->
    <div class="top-row centered row">
        <div class="fifthteen wide column">
            <div class="ui icon input search-margin" style="display:block; margin: 0 auto;">
                <input type="text" placeholder="Search..." style="width: 100%">
                <i class="inverted circular search link icon"></i>
            </div>
        </div>
    </div>
    <!-- Search Type button group -->
        <div class="centered row">
            <div class="fifthteen wide column">
                <div class="ui buttons" style="display:block; margin: 0 auto;">
                    <button class="ui button ng-class:{active: searchType === 'popular'}" ng-click="toggleSearchType()" style="width: 50%;">
                        Popular
                    </button>
                    <button class="ui button ng-class:{active: searchType === 'nearby'}" ng-click="toggleSearchType()" style="width: 50%;">
                        Nearby
                    </button>
                </div>
            </div>
        </div>
    <div class="centered row">
        <!-- Search Result -->
        <div class="ui link cards">
            <div class="search-found-places">
                <div class="ui card" ng-repeat="location in locations" id="locationID_{{location.id}}">
                    <div class="image" ng-click="togglePostView(location.id)">
                        <img ng-src="{{location.images[0]}}">
                    </div>
                    <div class="content" ng-click="togglePostView(location.id)">
                        <a class="header">{{location.name}}</a>
                        <div class="meta">
                            <span class="date">{{location.category}}</span>
                        </div>
                        <div class="description">
                            {{location.description}}
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="thumbs up icon green" ng-class="{'outline': location.likes.indexOf('TestMesta') === -1}"
                               ng-click="addLike(location.id)" aria-hidden="true"></i>
                            {{location.likes.length}} people approve
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
