<div class="ui grid">
    <div class="computer only row">
        <div class="ui segment" style="width: 100%; height: 0%; top: -16px;">
            <div class="ui huge menu">
                <a class="item" onclick="toggleAddView()" style="width: 100px;">
                    <button class="addbutton"><span>Add</span></button>
                </a>
                <div class="right menu">
                    <a class="item" onclick="showAccountView()" style="width: 100px;">
                        <button class="loginbutton"><span>Login</span></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile tablet only row">
        <div class="ui vertical buttons secondaryMenu">
            <button class="circular ui icon massive green button" onclick="showAccountView()">
                <i class="icon sign in"></i>
            </button>
            <br>
            <button class="circular ui icon massive green button" onclick="toggleAddView()">
                <i class="icon plus"></i>
            </button>
        </div>
    </div>
</div>

