<div class="ui grid">
    <div class="computer only row">
        <div class="ui top-row segment" style="width: 100%; height: 61px; top: -16px;">
            <div ng-if ="signedIn === false">
                <a class="item" onclick="toggleAccountView()" style="width: 80px;">
                    <button class="addbutton"><span>Add</span></button>
                </a>
            </div>
            <div ng-if = "signedIn === true">
                <a class="item" onclick="toggleAddView()" style="width: 80px;">
                    <button class="addbutton"><span>Add</span></button>
                </a>
            </div>
            <div class="right menu">
                <a class="item" onclick="toggleAccountView()" style="width: 100px;">
                    <button class="loginbutton"><span>Login</span></button>
                </a>
            </div>
        </div>
    </div>
    <div class="mobile tablet only row">
        <div class="ui vertical buttons secondaryMenu">
            <button class="circular ui icon massive blue button" onclick="showAccountView()">
                <i class="icon sign in"></i>
            </button>
            <br>
            <button class="circular ui icon massive green button" onclick="toggleAddView()">
                <i class="icon plus"></i>
            </button>
        </div>
    </div>
</div>

