<div class="ui grid">
    <div class="computer only row">
        <div class="ui segment mainMenu" style="width: 100%; height: 100%;">
            <div class="ui secondary pointing huge menu">
                <a class="active item" onclick="toggleAddView()">
                    <i class="plus icon"></i> Add
                </a>
                <div class="right menu">
                    <a class="item" onclick="showAccountView()">
                        <input type="image" src="LoginButton.png" width="149" height="31"/>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile tablet only row">
        <div class="ui vertical buttons secondaryMenu">
            <button class="circular ui icon massive blue button" onclick="showAccountView()">
                <i class="icon sign in"></i>
            </button>
            <br>
            <button class="circular ui icon massive green button" onclick="toggleAddView()">
                <i class="icon plus"></i>
            </button>
        </div>
    </div>
</div>

