.MyImage{
    position: absolute;
}

.theImage{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: auto;
    height: auto;
    max-width: 400px;

}

.myButton{
    position: absolute;
    align-content: center;
    left: 50%;
    top: 45%;
    margin-left: -30px;
}
