/* Sidebar View CSS Main */
add-view {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 25vw;
    left: 0;
    top: 0;
    background: white;
    position: fixed;
    z-index: 1000 !important;
}
add-view * {
    z-index: 100 !important;
}

@media screen and (min-width: 1600px) {
    add-view {
        width: 19vw;
    }
}

@media screen and (max-width: 1280px) {
    add-view {
        width: 35vw;
    }
}

@media screen and (max-width: 992px) {
    add-view {
        width: 40vw;
    }
}
@media screen and (max-width: 768px) {
    add-view {
        width: 80vw;
    }
}

/* Back Button Positioning */
.back.button {
    position: relative;
    width: 100px;
    height: 50px;
    top: -1px;
    left: -25px;
    background: none;
    color: #222222;

}

/* Customize tag selector */
.selectize-control.multi .selectize-input [data-value] {
    background-color: #00d14a;
    background-image: none !important;
}

.selectize-control.multi .selectize-input > div {
    border: none !important;
}
