#map {
    height: 100%;
}
map-view {
    z-index: -1;
}
/* Show/Hide Sidebar Button */
#showHideSidebarButton.visible {
    z-index: 100;
    position: absolute;
    left: calc(80vw + 5px);
    top: 40%;
}
#showHideSidebarButton.invisible {
    left: 15px;
}
#showHideSidebarButton button {
    width: 10px;
    padding-right: 25px;
    padding-left: 15px;
}
