/* Position Navigation */
navigation-view {
    position: absolute;
    height: 60px;
}

navigation-view  * {
    z-index: 8 !important;
}

@media screen and (min-width: 992px) {
    navigation-view  {
        top: 0px;
        left: 25vw;
        width: 75vw;
    }
}

@media screen and (min-width: 1600px) {
    navigation-view  {
        left: 19vw;
        width: 81vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    navigation-view  {
        left: 35vw;
        width: 65vw;
    }
}

@media screen and (max-width: 992px) {
    navigation-view  {
        right:-49px;
        width:100px;
        height:260px;
        top: 10px;
    }
}
