/* Position Navigation */
navigation-view {
        position: absolute;
        height: 20px;
}

navigation-view  * {
    z-index: 8 !important;
}

@media screen and (min-width: 992px) {
    navigation-view  {
        top: 0px;
        left: 25vw;
        width: 75vw;
    }
}

@media screen and (min-width: 1600px) {
    navigation-view  {
        left: 19vw;
        width: 81vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    navigation-view  {
        left: 35vw;
        width: 65vw;
    }
}

@media screen and (max-width: 992px) {
    navigation-view  {
        right:-49px;
        width:100px;
        height:260px;
        top: 10px;
    }
}

.loginbutton{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    right: 10px;
    outline: none;
}



.loginbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.loginbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.loginbutton:hover span {
    padding-right: 25px;
}

.loginbutton:hover span:after {
    opacity: 1;
    right: 0;
}

.addbutton{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    left: 10px;
    outline: none;
}

.addbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.addbutton span:after {
    content: '\0002B';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.addbutton:hover span {
    padding-left: 25px;
}

.addbutton:hover span:after {
    opacity: 1;
    left: 0;
}