/* Sidebar View CSS Main */
post-view {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 99.8vh;
    width: 25vw;
    left: 0;
    top: 0;
    background: white;
    position: fixed;
    z-index: 100 !important;
    margin-bottom: 0 auto !important;
}
post-view * {
    z-index: 100 !important;
}

@media screen and (min-width: 1600px) {
    post-view {
        width: 19vw;
    }
}

@media screen and (max-width: 1280px) {
    post-view {
        width: 35vw;
    }
}

@media screen and (max-width: 992px) {
    post-view {
        width: 40vw;
    }
}
@media screen and (max-width: 768px) {
    post-view {
        width: 80vw;
    }
}

/* Back Button Positioning */
.back.button {
    position: relative;
    top:10px;
    width: 110px !important;
    left: -30px !important;
    border-radius: 0 !important;
    height: 45px !important;
}
.back.button i {
    padding-left: 3px !important;
    margin-left: 10px !important;
}
