/* Sidebar View CSS Main */
sidebar-view {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 25vw;
    left: 0;
    top: 0;
    background: white;
    position: fixed;
    z-index: 10;
}

@media screen and (max-width: 1280px) {
    sidebar-view {
        width: 35vw;
    }
}

@media screen and (max-width: 992px) {
    sidebar-view {
        width: 60vw;
    }
}
@media screen and (max-width: 768px) {
    sidebar-view {
        width: 75vw;
    }
}

/* Sidebar View CSS Main */

/* Search (upper part) */
.search {
    height: 10vh;
}
.search-margin {
    margin: 8px auto 6px auto !important;
}
/* Search buttons (middle part) */
.search-type {
    height: 10vh;
    margin: 8px auto 6px auto !important;
}
/* Search Result (bottom part) */
.search-found-places {
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 auto;
}

