/* Sidebar View CSS Main */
sidebar-view {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0 auto !important;
    height: 106vh;
    width: 25vw;
    left: 0;
    top: 0;
    background: white;
    position: fixed;
    z-index: 10 !important;
}

sidebar-view * {
    z-index: 10 !important;
}


@media screen and (min-width: 1600px) {
    sidebar-view {
        width: 19vw;
        height: 107vh;
    }
}

@media screen and (max-width: 1280px) {
    sidebar-view {
        width: 35vw;
        height: 107vh;
    }
}

@media screen and (max-width: 992px) {
    sidebar-view {
        width: 40vw;
        height: 107vh;
    }
}
@media screen and (max-width: 768px) {
    sidebar-view {
        width: 80vw;
        height: 110vh;
    }
}

/* Sidebar View CSS Main */

/* Search Bar */
.top-row {
    margin-top:1px;
    height: 10px;
}
.search-margin {
    margin: 8px auto 6px auto !important;
}
/* Search Type button group */
.search-type {
    height: 50px;
    margin-bottom:10px;
}
/* Search Result  */
.search-found-places {
    margin: 0 auto;
}
