<div class="ui grid">
    <!-- Back Button -->
    <div class="ui top-row centered row segment" style="height: 59px">
        <div class="fifteen wide column">
            <a class="item" onclick="toggleAddView()" style="width: 80px;">
                <button class="backButton"><span>Back</span></button>
            </a>
        </div>
    </div>
    <!-- Add Form -->
    <div class="centered row">
        <div class="fifteen wide column">
            <form id="addForm" name="addForm" class="ui form" novalidate>
                <div class="centered row">
                    <div class="fourteen wide column">
                        <h2 class="ui header">New Location</h2>
                    </div>
                </div>
                <div class="centered row">
                    <div class="seven wide column">
                        <img id="imgPreview" class="ui centered image" src="http://i.the-mesta.com/0">
                        <input id="files" ng-files="submitFiles($files)" type="file" name="file" accept="image/png" required />
                    </div>
                </div>
                <div class="field">
                    <label>Location name</label>
                    <input type="text" name="name" ng-model="name" required>
                </div>
                <div class="field">
                    <label>Tell us what is there!</label>
                    <textarea type="text" name="description" ng-model="description" required></textarea>
                </div>
                <div class="ui fields">
                    <div class="field">
                        <label>Longitude</label>
                        <span ng-bind="longitude"></span><span ng-show="longitude.length == 0">0</span>
                        <input type="hidden" ng-bind="longitude" id="longitude" name="longitude" ng-model="longitude" required>
                    </div>
                    <div class="field">
                        <label>Latitude</label>
                        <span ng-bind="latitude"></span><span ng-show="latitude.length == 0">0</span>
                        <input type="hidden" ng-bind="latitude" name="latitude" id="latitude" ng-model="latitude" required>
                    </div>
                </div>
                <div class="field">
                    <label>Wanna add tags?</label>
                    <input type="text" id="input-tags" name="tags" placeholder="#beautiful #sunny" ng-model="tags">
                </div>
                <div class="field">
                    <label>Categories</label>
                    <select name="categories" class="ui dropdown" ng-model="categories" required>
                        <option value="Nature">Nature</option>
                        <option value="Urban">Urban</option>
                        <option value="Technology">View</option>
                        <option value="Architecture">Architecture</option>
                        <option value="Picnic">Picnic</option>
                        <option value="View">View</option>
                    </select>
                </div>
                <button ng-disabled="addForm.$invalid" type="button"
                        class="ui right floated button" ng-click="addLocation()"  role="button">Add</button>
            </form>
        </div>
    </div>

    <script>
    function handleFileSelect(evt) {
        var files = evt.target.files;

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {
            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();
                // Closure to capture the file information.
                    reader.onload = (function(theFile) {
                    return function(e) {
                    document.getElementById('imgPreview').src = e.target.result;
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);
    </script>
</div>
