<div class="ui grid">
    <!-- Back Button -->
    <div class="ui top-row centered row segment" style="height: 59px">
        <div class="fifteen wide column">
            <a class="item" onclick="togglePostView()" style="width: 80px;">
                <button class="backButton"><span>Back</span></button>
            </a>
        </div>
    </div>
    <!-- Image -->
    <div class="centered row">
        <div class="sixteen wide column">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="image in location.images">
                        <img ng-src="{{image}}" style="width:100%;">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <!-- Metadata & Social Functionality -->
    <div class="centered row">
        <div class="fifteen wide centered column">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="ui header">{{location.name}}</a>
                                <div class="description">
                                    <p>{{location.description}}</p> <br>
                                    <p ng-if="location.tags.length > 0">Tags: <span ng-repeat="tag in location.tags"><a ng-click="findByTag(tag)">{{tag}}</a> &nbsp;</span></p>
                                </div>
                                <div class="extra">
                                    <a ng-click="addLike(location)"><i class="thumbs up icon green" ng-class="{'outline': location.likes.indexOf('TestMesta') === -1}"
                                          aria-hidden="true"></i> {{location.likes.length}} people approve<span ng-if="location.likes.length != 1">s</span></a>
                                     <span style="float: right">{{location.category}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui secondary segment">
                    <div class="ui minimal comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment" ng-repeat="comment in location.comments">
                            <a class="avatar">
                                <img ng-src="https://graph.facebook.com/{{comment.facebookID}}/picture">
                            </a>
                            <div class="content">
                                <a class="author">{{1430836076926757 | getFBName}}</a>
                                <div class="metadata">
                                    <span class="date">{{comment.date | date}}</span>
                                </div>
                                <div class="text">
                                    {{comment.comment}}
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <form name="comment" class="ui reply form" ng-if="signedIn" novalidate>
                            <div class="field">
                                <textarea ng-model="$parent.newComment" required></textarea>
                            </div>
                            <button ng-disabled="comment.$invalid" class="ui blue labeled submit icon button" ng-click="comment(location)">
                                <i class="icon edit"></i> Add Reply
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
