<div class="ui grid">
    <!-- Back Button -->
    <div class="top-row centered row">
        <div class="fifteen wide column">
            <button class="ui labeled icon back button" onclick="togglePostView()">
                <i class="left chevron icon"></i>
                Back
            </button>
        </div>
    </div>
    <!-- Image -->
    <div class="centered row">
        <div class="sixteen wide column">
            <img class="ui centered image" src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
    </div>
    <!-- Metadata & Social Functionality -->
    <div class="centered row">
        <div class="fifteen wide centered column">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui items">
                        <div class="item" id="locationPost">
                            <div class="content">
                                <a class="ui header">{{location.name}}</a>
                                <div class="description">
                                    <p>{{location.description}}</p> <br>
                                    <p ng-if="location.tags.length > 0">Tags: <span ng-repeat="tag in location.tags"><a ng-click="findByTag(tag)">{{tag}}</a> &nbsp;</span></p>
                                </div>
                                <div class="extra">
                                    <i class="thumbs up icon green" ng-class="{'outline': location.likes.indexOf('TestMesta') === -1}"
                                       ng-click="addLike(location.id)"aria-hidden="true"></i>
                                    {{location.likes.length}} people approve<span ng-if="location.likes.length != 1">s</span> <span style="float: right">{{location.category}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui secondary segment">
                    <div class="ui minimal comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment">
                            <a class="avatar">
                                <img src="">
                            </a>
                            <div class="content">
                                <a class="author">Vladimir Putin</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    It will be our some day.
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="">
                            </a>
                            <div class="content">
                                <a class="author">The Adolf</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Unsatisfied!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment" ng-repeat="comment in location.comments">
                            <a class="avatar">
                                <img src="">
                            </a>
                            <div class="content">
                                <a class="author">The Adolf</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    {{comment}}
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <form class="ui reply form">
                            <div class="field">
                                <textarea ng-model="newComment"></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button" ng-click="comment(location_id)">
                                <i class="icon edit"></i> Add Reply
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
