<div class="ui grid">
    <!-- Back Button -->
    <div class="top-row centered row">
        <div class="fifteen wide column">
            <button class="ui labeled icon back button" onclick="togglePostView()">
                <i class="left chevron icon"></i>
                Back
            </button>
        </div>
    </div>
    <!-- Image -->
    <div class="centered row">
        <div class="sixteen wide column">
            <img class="ui centered image" src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
    </div>
    <!-- Metadata & Social Functionality -->
    <div class="centered row">
        <div class="fifteen wide centered column">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="ui header">Silver Snowman</a>
                                <div class="description">
                                    <p>Greatest description to be put here</p>
                                </div>
                                <div class="extra">
                                    <i class="green check icon"></i>
                                    121 Likes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui secondary segment">
                    <div class="ui minimal comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment">
                            <a class="avatar">
                                <img src="">
                            </a>
                            <div class="content">
                                <a class="author">Vladimir Putin</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    It will be our some day.
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="">
                            </a>
                            <div class="content">
                                <a class="author">The Donald</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>Greatest place. Terrific!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="">
                                    </a>
                                    <div class="content">
                                        <a class="author">Sauli Niinistö</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Finland was here.
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="">
                            </a>
                            <div class="content">
                                <a class="author">The Adolf</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Unsatisfied!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <form class="ui reply form">
                            <div class="field">
                                <textarea></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i> Add Reply
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
